.chatMesPar {
  margin-bottom: 35px;
  line-height: 24px;
  position: relative;
  text-align: center;
  background-color: dodgerblue;
  /* border-radius: 8px; */
  color: #f7f7f7;
  padding: 0.5em;
  border-radius: 8px 8px 0px 8px;
}

.chatName{
  text-align: center;
  margin-bottom: 5px;
  color: black;
  font-size: 0.8em;
} 

.chatMessImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 1em;
}

.message div .photoTime {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
}

.photoTime span {
  color: gray;
  font-size: 0.5em;
  width: 6.35em;
}

#msgDelete {
  background-color: white;
  color: red;
  border-radius: 0.5em;
  font-size: small;
  padding: 0.1em;
}
